/* body {
    background: #f7f6f3;
    font-family: open-sans;
} */

.calendar {
  display: inline-block;
  width: 300px;
  padding: 5 5px;
  margin: 20px 40px 0 30px;
  background: #fffdfe;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.free-appointments {
  margin-top: 30px;
  padding: 0 15px;
}

.free-appointments #select-time-new {
  margin-left: 30px;
}

.free-appointments #select-time-new #available-hours {
  margin-right: 40px;
}

#datepicker .ui-datepicker-inline {
  padding: 0 10px 5px;
}

.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #ea8a8a;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 17px;
  background-color: #ea8a8acc;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}

.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}

.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #a19f9f;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

/*////////////////////////////////////////////////////////////*/

.ui-state-default {
  display: block;
  text-decoration: none;
  color: #a19f9f;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
}

.ui-state-default:hover {
  background: #ea8a8acc;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}
.ui-state-highlight {
  color: #ea8a8a;
  font-weight: bold;
  font-size: 1.15rem;
}

.ui-state-active {
  background: #ea8a8acc;
  color: #ffffff;
  border-radius: 20px;
}

.ui-datepicker-unselectable .ui-state-default {
  color: rgb(165, 163, 163);
  font-weight: normal;
}

.ui-datepicker-unselectable .ui-state-default:hover {
  background: none !important;
}

tr:hover {
  background: none;
}

.wizard-frame #select-time-new {
  max-width: 200px;
  margin: auto;
  padding: 40px 0;
}

#select-appointment {
  font-size: 20px;
  color: #8f8f8f;
}

.btn-time {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-time-block {
  display: block;
  width: 100%;
}

.btn-time-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-time-outline-secondary:hover {
  color: #ffffff;
  border-color: #cccecf;
  background-color: #c6c9cc;
}

#available-hours {
  overflow: auto;
  margin: 15px 0;
  padding-right: 10px;
  width: auto;
  max-height: 255px;
}

.available-hour-time {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.selected-hour-time {
  background-color: #ea8a8ae1;
  border-color: #e59393;
  color: #fff;
}

.shadow-none-time {
  box-shadow: none !important;
}

.booking-service-container {
  margin-right: auto;
  margin-left: auto;
}

.booking-service-container h4 {
  color: #666;
  font-weight: 200;
  margin-bottom: 20px;
}

.booking-service-container p {
  margin-bottom: 6px;
}
