* {
  color: #4e3440;
  font-family: "Poiret One", cursive;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.italianno-font-family {
  font-family: "Italianno", cursive;
}

.page-background {
  background-color: #ffffff;
}

.modal-user {
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  margin: 30px auto 10px;
  padding: 5px 20px;
  text-align: center;
  width: 60%;
}

.hidden {
  display: none;
}

.successful-modal-style {
  background-color: rgb(217, 247, 217);
  color: rgb(2, 61, 2);
}

.failed-modal-style {
  background-color: rgb(238, 226, 228);
  color: rgb(114, 15, 2);
}

#modal-message {
  margin-top: 0.5rem;
}

#user-appointments-table-container {
  text-align: center;
}

#user-appointments-table-container h1 {
  margin-bottom: 40px;
}

#user-appointments-table-container .table-container {
  max-width: 75%;
  margin: 0px auto 50px;
}

#user-appointments-table-container
  .table-container
  .listed-reserved-appointment {
  font-weight: bold;
}

#user-appointments-table-container .table-container .reserved-service-name {
  text-align: left;
}

.btn-change,
.btn-delete {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
}

.btn-change {
  background-color: #ea8a8a;
}

.btn-change:hover {
  background-color: #ce7777;
}

.btn-delete {
  background-color: #4e3440;
}

.btn-delete:hover {
  background-color: #36242d;
}

.hidden {
  display: none;
}

#change-btn-ref {
  text-decoration: none;
  color: #fff;
}

#change-btn-ref:hover {
  text-decoration: none;
  color: #fff;
}

#new-appointment-btn {
  text-decoration: none;
  color: #fff;
  background-color: #ea8a8a;
  border-radius: 5px;
  padding: 5px 10px;
}

#new-appointment-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #cf7c7c;
}

#user-registration-btn {
  background-color: #ea8a8a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  max-width: 120px;
  padding: 8px;
  margin: 10px auto 0;
}

#user-registration-btn:hover {
  background-color: #ce7777;
}

.red-border {
  border: 1px solid rgba(245, 2, 2, 0.89);
}

.registration .regMessageContainer {
  text-align: center;
  padding: 20px 0;
}

.registration #regMessage {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.registration .reg-btn-container {
  text-align: center;
}

#login-message-container {
  background-color: rgb(255, 241, 241);
  border: 0.5px solid rgb(231, 9, 9);
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto 0;
}

#required-login-message {
  display: inline-block;
  color: rgb(231, 9, 9);
  font-size: 18px;
}

.user-login-form-style,
.user-forgot-password-style {
  margin: 110px auto;
}

.user-login-form,
.user-forgot-password-form {
  padding-top: 50px;
}

.user-login-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #835858;
  margin-top: 25px;
}

.user-forgot-pswd-btn,
#user-send-msg-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ea8a8a;
}

.user-forgot-pswd-btn:hover,
#user-send-msg-btn:hover {
  background-color: #cf7c7c;
}

.forgotpswd-email-label {
  font-size: 20px;
}

#forgotPasswordMessage {
  text-align: center;
  margin: 20px auto 0;
  width: 350px;
}

#resultMessage {
  margin: 10px 0;
  text-align: center;
}

#user-send-msg-btn-container {
  text-align: center;
}

/******************* navbar-style*******************/

.nav-link-style {
  color: #4e3440;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  line-height: 55px;
}

.nav-link-style-drop {
  color: #4e3440;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-style:hover {
  color: #ea8a8a;
  cursor: pointer;
  text-decoration: none;
}

.nav-link-style-drop:hover {
  color: #ea8a8a;
  cursor: pointer;
  text-decoration: none;
}

.nav-link-style-drop:hover .fas {
  color: #ea8a8a;
}

/* .nav-link-style-drop:hover .fa-key, .nav-link-style-drop:hover .fa-sign-out-alt {
  color: #ea8a8a;
} */

.nav-link-style.active {
  color: #ea8a8a;
  cursor: pointer;
}

.dropdown {
  /* float: left;
  overflow: hidden; */
  margin-left: auto;
}

.dropdown-appointments {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* .dropdown-appointments .dropbtn { */
  color: #ea8a8a;
  float: right;
  font-size: 1.4rem;
  font-weight: 800;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn,
.dropdown-appointments:hover .dropbtn {
  color: #ea8a8a;
  cursor: pointer;
}

.dropbtn i {
  color: #ea8a8a;
  font-size: 1.4rem;
}

.navbar {
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%); */
  box-shadow: 3px 5px 5px 0 rgb(0 0 0 / 10%);
}

.dropdown-content,
.dropdown-content-appointments {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#logo-img-circle {
  max-width: 100%;
  height: auto;
}

.form-title {
  text-align: center;
  margin: 20px 0;
}

@media screen and (min-width: 769px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .dropdown-content {
    top: 75px;
    right: 0px;
    z-index: 2000;
  }

  .navbar-social-icons a {
    float: right;
    margin: 0 5px;
  }

  .navbar-social-icons {
    padding-right: 30px;
  }

  .navbar-social-icons a:hover {
    text-decoration: none;
  }

  .sign-in {
    float: right;
    padding-right: 20px;
  }

  .sign-in a,
  .sign-in a:hover {
    color: #36242d;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .sign-in i {
    font-size: 1.4rem;
  }

  .navbar-logo {
    text-align: center;
  }

  .navbar-logo a {
    max-width: 270px;
    margin: 0 auto 0;
  }

  .navbar-logo img {
    /* max-width: 20%; */
    max-width: 270px;
    height: auto;
    margin-top: -80px;
  }

  #navbarNav {
    padding-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .img-container,
  #logo-img-circle {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .img-container {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #nav-menu-icon {
    margin-left: auto;
    cursor: pointer;
  }

  .nav-link-style,
  .nav-link-style-drop {
    line-height: inherit;
    margin: 0;
  }

  .navbar-brand {
    width: 80%;
  }

  .navbar-brand img {
    max-width: 80%;
    height: auto;
  }

  .navbar-desktop {
    display: none;
  }

  .topnav a {
    display: none;
  }

  .topnav.responsive {
    padding-top: 20px;
    position: relative;
    width: 100%;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    border-top: rgb(0 0 0 / 10%) solid 0.5px;
    float: none;
    display: block;
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .collapse {
    display: flex !important;
    flex-basis: auto !important;
  }
}

.dropdown-content-appointments {
  top: 70px;
  left: 500px;
}

.dropdown-content a,
.dropdown-content button,
.dropdown-content-appointments a,
.dropdown-content-appointments button {
  float: none;
  color: #4e3440;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content,
.dropdown-appointments:hover .dropdown-content-appointments {
  display: inline-block;
}
/***************************************************/
