* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.modal-user {
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  margin: 30px auto 10px;
  padding: 5px 20px;
  text-align: center;
  width: 60%;
}

.hidden {
  display: none;
}

.successful-modal-style {
  background-color: rgb(217, 247, 217);
  color: rgb(2, 61, 2);
}

.failed-modal-style {
  background-color: rgb(238, 226, 228);
  color: rgb(114, 15, 2);
}

#modal-message {
  margin-top: 0.5rem;
}

#user-appointments-table-container {
  text-align: center;
}

#user-appointments-table-container h1 {
  margin-bottom: 40px;
}

#user-appointments-table-container .table-container {
  max-width: 75%;
  margin: 0px auto 50px;
}

#user-appointments-table-container
  .table-container
  .listed-reserved-appointment {
  font-weight: bold;
}

#user-appointments-table-container .table-container .reserved-service-name {
  text-align: left;
}

.btn-change,
.btn-delete {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
}

.btn-change {
  background-color: #ea8a8a;
}

.btn-change:hover {
  background-color: #ce7777;
}

.btn-delete {
  background-color: #4e3440;
}

.btn-delete:hover {
  background-color: #36242d;
}

.hidden {
  display: none;
}

#change-btn-ref {
  text-decoration: none;
  color: #fff;
}

#change-btn-ref:hover {
  text-decoration: none;
  color: #fff;
}

#new-appointment-btn {
  text-decoration: none;
  color: #fff;
  background-color: #ea8a8a;
  border-radius: 5px;
  padding: 5px 10px;
}

#new-appointment-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #cf7c7c;
}

#user-registration-btn {
  background-color: #ea8a8a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  max-width: 120px;
  padding: 8px;
  margin: 10px auto 0;
}

#user-registration-btn:hover {
  background-color: #ce7777;
}

.red-border {
  border: 1px solid rgba(245, 2, 2, 0.89);
}

.registration .regMessageContainer {
  text-align: center;
  padding: 20px 0;
}

.registration #regMessage {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.registration .reg-btn-container {
  text-align: center;
}

#login-message-container {
  background-color: rgb(255, 241, 241);
  border: 0.5px solid rgb(231, 9, 9);
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto 0;
}

#required-login-message {
  display: inline-block;
  color: rgb(231, 9, 9);
  font-size: 18px;
}

.user-login-form-style,
.user-forgot-password-style {
  margin: 110px auto;
}

.user-login-form,
.user-forgot-password-form {
  padding-top: 50px;
}

.user-login-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #835858;
  margin-top: 25px;
}

.user-forgot-pswd-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ea8a8a;
}

.user-forgot-pswd-btn:hover {
  background-color: #cf7c7c;
}

.forgotpswd-email-label {
  font-size: 20px;
}

#forgotPasswordMessage {
  text-align: center;
  margin: 20px auto 0;
  width: 350px;
}

#resultMessage {
  margin: 10px 0;
  text-align: center;
}
