* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.modal-user {
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  margin: 30px auto 10px;
  padding: 5px 20px;
  text-align: center;
  width: 60%;
}

.hidden {
  display: none;
}

.successful-modal-style {
  background-color: rgb(217, 247, 217);
  color: rgb(2, 61, 2);
}

.failed-modal-style {
  background-color: rgb(238, 226, 228);
  color: rgb(114, 15, 2);
}

#modal-message {
  margin-top: 0.5rem;
}

#user-appointments-table-container {
  text-align: center;
}

#user-appointments-table-container h1 {
  margin-bottom: 40px;
}

#user-appointments-table-container .table-container {
  max-width: 75%;
  margin: 0px auto 50px;
}

#user-appointments-table-container
  .table-container
  .listed-reserved-appointment {
  font-weight: bold;
}

#user-appointments-table-container .table-container .reserved-service-name {
  text-align: left;
}

.btn-change,
.btn-delete {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
}

.btn-change {
  background-color: #ea8a8a;
}

.btn-change:hover {
  background-color: #ce7777;
}

.btn-delete {
  background-color: #4e3440;
}

.btn-delete:hover {
  background-color: #36242d;
}

.hidden {
  display: none;
}

#change-btn-ref {
  text-decoration: none;
  color: #fff;
}

#change-btn-ref:hover {
  text-decoration: none;
  color: #fff;
}

#new-appointment-btn {
  text-decoration: none;
  color: #fff;
  background-color: #ea8a8a;
  border-radius: 5px;
  padding: 5px 10px;
}

#new-appointment-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #cf7c7c;
}
