* {
  color: #4e3440;
  font-family: "Poiret One", cursive;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.italianno-font-family {
  font-family: "Italianno", cursive;
}

.page-background {
  background-color: #ffffff;
}

.fa-sign-out-alt {
  margin-right: 5px;
  padding-right: 5px;
}

.nav-link-style {
  color: #4e3440;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  line-height: 55px;
}

.nav-link-style-drop {
  color: #4e3440;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link-style:hover {
  color: #ea8a8a;
  cursor: pointer;
  text-decoration: none;
}

.nav-link-style-drop:hover {
  color: #ea8a8a;
  cursor: pointer;
  text-decoration: none;
}

.nav-link-style-drop:hover .fas {
  color: #ea8a8a;
}

/* .nav-link-style-drop:hover .fa-key, .nav-link-style-drop:hover .fa-sign-out-alt {
  color: #ea8a8a;
} */

.nav-link-style.active {
  color: #ea8a8a;
  cursor: pointer;
}

.dropdown {
  /* float: left;
  overflow: hidden; */
  margin-left: auto;
}

.dropdown-appointments {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn,
.dropdown-appointments .dropbtn {
  color: #4e3440;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 14px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn,
.dropdown-appointments:hover .dropbtn {
  color: #ea8a8a;
  cursor: pointer;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.dropdown-content,
.dropdown-content-appointments {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#logo-img-circle {
  max-width: 100%;
  height: auto;
}

.form-title {
  text-align: center;
  margin: 20px 0;
}

@media screen and (min-width: 769px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .dropdown-content {
    top: 70px;
    right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .img-container,
  #logo-img-circle {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .img-container {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #nav-menu-icon {
    margin-left: auto;
    cursor: pointer;
  }

  .nav-link-style,
  .nav-link-style-drop {
    line-height: inherit;
    margin: 0;
  }

  .navbar-brand {
    width: 80%;
  }

  .navbar-brand img {
    max-width: 80%;
    height: auto;
  }

  .navbar-desktop {
    display: none;
  }

  .topnav a {
    display: none;
  }

  .topnav.responsive {
    padding-top: 20px;
    position: relative;
    width: 100%;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    border-top: rgb(0 0 0 / 10%) solid 0.5px;
    float: none;
    display: block;
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .collapse {
    display: flex !important;
    flex-basis: auto !important;
  }
}

.dropdown-content-appointments {
  top: 70px;
  left: 500px;
}

.dropdown-content a,
.dropdown-content button,
.dropdown-content-appointments a,
.dropdown-content-appointments button {
  float: none;
  color: #4e3440;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content,
.dropdown-appointments:hover .dropdown-content-appointments {
  display: inline-block;
}

/*adminLoginContent.php - Oldalak levédése és átirányítás a login page-re - hibaüzenet stílusa*/
#loginMessage {
  width: 250px;
}

.admin-login-form-style {
  margin: 0 auto;
}

.admin-login-form {
  margin: 0 auto;
}

.admin-login-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #835858;
  margin-top: 25px;
}

.admin-reg-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ea8a8a;
  margin-top: 25px;
}

.admin-reg-btn a {
  color: #fff;
  text-decoration: none;
}

#login-message-container {
  background-color: rgb(255, 241, 241);
  border: 0.5px solid rgb(231, 9, 9);
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto 0;
}

#required-login-message {
  display: inline-block;
  color: rgb(231, 9, 9);
  font-size: 18px;
}

/*#result message - Szolgáltatásokkal kapcsolatos műveletek üzenete*/

#result {
  border-radius: 10px;
  display: none;
  line-height: 20px;
  margin: 20px auto 10px;
  padding: 15px 25px;
  width: 350px;
}

#result p i {
  font-size: 25px;
  margin-right: 17px;
}

#result p {
  display: inline-block;
  font-size: 20px;
  width: 250px;
  margin-bottom: 0;
}

/*mainServicesListedContent.php */

/* Táblázat stílusa */

/* .main-service-row:nth-child(odd) {background-color: #e7e3e3;} */
/* 
.sub-service-row:nth-child(odd) {
  background-color: #faf2f288;
}

.main-service-row: {
  background-color: #faf2f288;
} */

#listed-mainservices-table-container tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.144);
}

.table {
  margin-top: 40px;
}

.table-background {
  background-color: #fff;
}

.table-container {
  width: 90%;
  padding-bottom: 50px;
  margin: 20px auto 0;
}

.table-header {
  color: #4e3440;
  font-size: 1.1rem;
}

.table th {
  border-top: none !important;
}

.td-content-center {
  text-align: center;
  vertical-align: middle;
}

.td-content-right {
  text-align: right;
  vertical-align: middle;
}

.mainServices a,
.mainServices a:hover,
.mainServices a:focus {
  color: #4e3440;
  text-decoration: none;
}

/*Új főszolgáltatás gomb*/

.new-mainservice-text {
  font-size: 16px;
}

.new-mainservice-plus-icon {
  color: #ea8a8a;
  font-size: 20px;
}

.new-mainservice-btn {
  background-color: #fff;
  border: 0.5px solid #ea8a8a;
  border-radius: 30px;
  padding: 10px 15px;
}

.new-mainservice-btn-container {
  margin-bottom: 30px;
  text-align: center;
}

.mainServicesMobil {
  margin-bottom: 30px;
}

.mainServicesMobil a {
  color: #4e3440;
  text-decoration: none;
  font-family: "Italianno";
  font-size: 2rem;
}

.mainServicesMobil a:hover {
  color: #4e3440;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .new-mainservice-text {
    font-size: 22px;
  }

  .new-mainservice-plus-icon {
    color: #ea8a8a;
    font-size: 28px;
    margin-right: 7px;
  }

  .new-mainservice-btn {
    background-color: #fff;
    border: 0.5px solid #ea8a8a;
    border-radius: 30px;
    padding: 12px 30px;
  }

  .new-mainservice-btn-container {
    text-align: center;
  }
}

/* services php - Service műveleteinek űrlapjai*/

.services-form-style {
  margin: 90px auto 0;
}

.services-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #ea8a8a;
}

.services-btn:hover {
  background-color: #c07878;
}

.services-title-container {
  padding: 40px 0 50px;
  text-align: center;
}

.new-service-title-container,
.new-password-title-container {
  padding: 30px 0 0;
  text-align: center;
}

.services-form-label-style {
  margin-top: 15px;
}

.modal-user {
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  margin: 30px auto 10px;
  padding: 5px 20px;
  text-align: center;
  width: 100%;
}

.successful-modal-style {
  background-color: rgb(217, 247, 217);
  color: rgb(2, 61, 2);
}

.failed-modal-style {
  background-color: rgb(238, 226, 228);
  color: rgb(114, 15, 2);
}

.hidden {
  display: none;
}

.admin-services-title {
  text-align: center;
  margin-bottom: 40px;
}

.admin-services-title h1 {
  margin: 30px 0 0;
}

.admin-services-mobil {
  text-align: center;
  margin: 0 auto;
}

.admin-services-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .admin-services-mobil {
    display: none;
  }

  .admin-services-desktop {
    display: block;
  }
}
